@-ms-viewport {
    width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 15%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .embed-container {
        padding-bottom: 30% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .embed-container {
        padding-bottom: 20% !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .embed-container {
        padding-bottom: 15% !important;
    }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

audio {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.cropper.ready {
    display: block;
}

.cropper {
    display: none;
}

p > img {
    width: 100%;
    height: auto;
}

p > iframe {
    width: 100%;
    height: 605px;
}

p > span > iframe {
    width: 100%;
    height: 560px;
}

.btn-monster-blue {
    background-color: #00c9ff !important;
    font-weight: 700;
}

.btn-monster-blue:hover {
    background-color: #00c9ff !important;
    color: #f4f900 !important;
    transition: .3s;
}

.bg-medium-gray {
    background-color: #282828 !important;
    width: 100%;
}

.text-monster-yellow {
    color: #f4f900 !important;
    transition: 0.5s;
}

.barlow {
    font-family: "Barlow Condensed", sans-serif !important;
    font-size: 1rem;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .barlow {
        font-size: .74rem;
    }
}

@media only screen and (min-width: 600px) {
    .barlow {
        font-size: .80rem;
    }
}

@media only screen and (min-width: 768px) {
    .barlow {
        font-size: .87rem;
    }
}

@media only screen and (min-width: 992px) {
    .barlow {
        font-size: .93rem;
    }
}

@media only screen and (min-width: 1200px) {
    .barlow {
        font-size: 1.15rem;
    }
}

.rubik {
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem;
    font-weight: 700;
}

.fs-1 {
    font-size: calc(1.4625rem + 2.55vw) !important;
}

.fs-2 {
    font-size: calc(1.395rem + 1.74vw) !important;
}

.fs-3 {
    font-size: calc(1.36125rem + 1.335vw) !important;
}

.fs-4 {
    font-size: calc(1.3275rem + 0.93vw) !important;
}

.fs-5 {
    font-size: calc(1.29375rem + 0.525vw) !important;
}

.fs-6 {
    font-size: calc(1.26rem + 0.12vw) !important;
}
